name: Python package

on:
  push:
    branches: [ "develop" , "feature/github_actions", "feature/lint_and_hooks"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install requests Flask
    - name: Test with unittest
      run: |
          cd front
          python -m unittest test.py
    - name: Lint with black
      run: |
        pip install black
        black ./front
        black ./back
    - name: Create tag
      run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          
          git tag "Build-$(date +%s)"
          
          git push origin --tags
    - name: Zip folder
      run: |
          zip -r package.zip .
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: my-package
        path: package.zip
